
* {
  font-size: 0.06vw;
  padding: 0rem;
  margin: 0rem;
  font-family: "Shippori Mincho", serif;
}
.br-sp {
  display: none;
}

body {
  margin: auto;
}
.nav-container {
  padding: 22rem 50rem 25rem 85rem;
}
.nav-container a {
  font-size: 18rem;
  font-weight: 600;
  width: max-content;
}
.navbar a {
  font-weight: 500;
  padding: 12rem 70rem 10rem 0;
  letter-spacing: -0.4rem;
}
.nav-link {
  font-weight: 500;
}
.navbar-nav li {
  padding: 0 70rem 0 0;
  width: 97rem;
  margin-left: 71rem;
}
.nav a {
  font-size: 20rem;
  font-weight: 500;
}
nav.nav.side-nav {
  padding-right: 13.6rem;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:250rem;
  display: flex;
  justify-content: center;
  margin-bottom: 155rem;
  margin-top: 3.4rem;
}

.mobile-banner {
  display: none;
}

.title span {
  font-size: 34rem;
  font-weight: 800;
  letter-spacing: 10rem;
}
.content .d-flex {
  align-items: center;
}
.diamond {
  padding-top: 240rem;
  height: 76rem;
}
.pr-10rem {
  padding-right: 100rem;
}
.p-10rem {
  padding: 100rem;
}

.wrap-text {
  padding: 120rem 0rem 120rem 0rem;
  text-align: center;
}

.key-mobile {
  display: none;
}
/* .hr-lines:before{
  content:" ";
  display: block;
  height: 2rem;
  width: 47%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #000;
} */

.wrap-text2 {
  text-align: center;
  letter-spacing: 2rem;
}
.wrap-text2 h2 {
  font-size: 30rem;
  font-weight: 700;
  line-height: 60rem;
}

.wrap-text3 {
  text-align: center;
  padding: 91rem 0 24rem 0;
}

.wrap-text3 h2 {
  font-size: 30rem;
  font-weight: 700;
  line-height: 60rem;
  letter-spacing: 9rem;
  }

.wrap-text4 {
  text-align: center;
  padding-bottom: 40rem;
  padding-bottom: 55rem;
}

.wrap-text4 h2 {
  font-size: 20rem;
  font-weight: 500;
  line-height: 210%;
  letter-spacing: 5rem;
  padding: 0 0 0 0;
}
.srchdiv {
  padding: 0rem 0rem 415rem 0rem;
}
.srchdiv input {
  height: 52rem;
  padding: 0 10rem 0 10rem;
}
.srchdiv .search {
  width: 383rem;
  text-align: left;
  letter-spacing: 10rem;
  }
label.d-flex.justify-content-center {
  width: 567rem;
}
.srchdiv .submit-button {
  width: 132.05rem;
}
.footer {
  padding: 50rem 0 50rem 0;
  background-color: #181818;
}
.footer-container {
  padding-top: 20rem;
  padding-left: 15rem;
}
.footer-logo {
  padding: 0 50rem 0 0;
}
.contacts {
  padding: 0 50rem 0 105rem;
  }
.contacts span {
  padding: auto;
  font-family: "Source Code Pro", monospace;
  line-height: 20rem;
  font-size: 11rem;
  }
.nav-footer {
  padding: 0 46rem 0 0;
  }
.nav-footer a {
  padding: 0 43rem 0 43rem;
  width: 160rem;
  padding: 0rem 0rem 0rem 0rem;
  font-size: 18rem;
}
.copyright {
  padding: 80rem 70rem 0 0;
  }
.copyright p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12rem;
  }

  


@media only screen and (max-width: 899px) {
  
  * {
    font-size: 0.25vw;
  }
  
  body {
    width: auto;
  }
  .br-sp {
    display: block;
}
  nav.nav.side-nav {
    display: none;
  }
  .key img {
    width: 340rem;
  }
  .diamond {
    padding-top: 40rem;
  }
  .wrap-text {
    width: 195rem;
    padding: 117rem 0rem 27rem 0rem;
    text-align: center;
  }
  .wrap-text2 h2 {
    font-size: 15rem;
  }
  .wrap-text3 {
    width: 312rem;
    margin: auto;
  }
  .wrap-text3 h2 {
    font-size: 34rem;
    line-height: normal;
  }
  .key-mobile {
    display: block;
  }
  .hr-lines {
    display: none;
  }
  .top-text {
    display: none;
  }
  .title span {
    font-size: 18rem;
  }
  .desktop-footer {
    display: none !important;
  }
  .d-flex.footer-mobile {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  .banner {
    display: none;
  }
  .diamond {
    display: none !important;
  }
  .diamond-mobile {
    padding-top: 58rem;
  }
  .mobile-banner {
    display: block;
    background-image: url("../images/mobile-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90rem;
    display: flex;
    justify-content: center;
    margin-bottom: 35rem;
    margin-top: 1rem;
  }
  .wrap-text {
    width: 320rem;
    padding: 245rem 0rem 120rem 0rem;
  }

  .title span {
    font-size: 35rem;
  }

  .wrap-text2 h2 {
    font-size: 30rem;
  }
  .key img {
    padding-bottom: 20rem;
  }

  .wrap-text3 {
    padding: 110rem 0rem 58rem 0vw;
  }
  .wrap-text3 h2 {
    letter-spacing: 3.5rem;
  }

  .wrap-text4 {
    width: 300rem;
    margin: auto;
    padding-bottom: 66rem;
  }
  .wrap-text4 h2 {
    font-size: 20rem;
    letter-spacing: 4rem;
  }

  .srchdiv {
    padding: 0rem 0rem 300rem 0rem;
  }

  .footer {
    padding: 50rem 0rem 10rem 0rem;
  }
  p.text-white {
    font-size: 10rem;
    margin-bottom: 0vw;
  }

  .mobile-footer {
    padding-top: 18rem;
  }

  a.nav-link.text-white.mobile-footer-nav {
    padding: 40rem 0rem 0rem 0rem;
  }

  .mobile-copyright {
    padding-top: 46rem;
  }
  .navbar-nav li a {
    padding: 0 70rem 0 0;
    width: 50rem;
    font-size: 12rem;
  }
  .srchdiv .search {
    width: 200rem;
    text-align: left;
    letter-spacing: 10rem;
    }
}



/* @media only screen and (max-width: 600rem) {
  .banner{
    background-image: url('../images/banner.jpg');
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center center;
    height:130rem; 
  }

  .content .d-flex {
    align-items: center;
  }
  .diamond {
    width: 9.90vw; 
    height: 9.90vw;
    transform: rotate(45deg);
    margin: 0 auto;
    position: relative;
    top: 6.31vw; 
    
    z-index: 999;
  }

} */
