
* {
  /* font-size: 0.06vw; */
  padding: 0px;
  margin: 0px;
  font-family: "Shippori Mincho", serif;
}
.br-sp {
  display: none;
}

body {
  max-width: 1700px;
  margin: auto;
}
.nav-container {
  padding: 22px 50px 25px 85px;
}
.nav-container a {
  font-size: 18px;
  font-weight: 600;
  width: max-content;
}
.navbar a {
  font-weight: 500;
  padding: 12px 70px 10px 0;
  letter-spacing: -0.4px;
}
.nav-link {
  font-weight: 500;
}
.navbar-nav li {
  padding: 0 70px 0 0;
  width: 97px;
  margin-left: 71px;
}
.nav a {
  font-size: 20px;
  font-weight: 500;
}
nav.nav.side-nav {
  padding-right: 13.6px;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:250px;
  display: flex;
  justify-content: center;
  margin-bottom: 155px;
  margin-top: 3.4px;
}

.mobile-banner {
  display: none;
}

.title span {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 10px;
}
.content .d-flex {
  align-items: center;
}
.diamond {
  padding-top: 240px;
  height: 76px;
}
.pr-10px {
  padding-right: 100px;
}
.p-10px {
  padding: 100px;
}

.wrap-text {
  padding: 120px 0px 120px 0px;
  text-align: center;
}

.key-mobile {
  display: none;
}
/* .hr-lines:before{
  content:" ";
  display: block;
  height: 2px;
  width: 47%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #000;
} */

.wrap-text2 {
  text-align: center;
  letter-spacing: 2px;
}
.wrap-text2 h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}

.wrap-text3 {
  text-align: center;
  padding: 91px 0 24px 0;
}

.wrap-text3 h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 9px;
  }

.wrap-text4 {
  text-align: center;
  padding-bottom: 40px;
  padding-bottom: 55px;
}

.wrap-text4 h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 210%;
  letter-spacing: 5px;
  padding: 0 0 0 0;
}
.srchdiv {
  padding: 0px 0px 415px 0px;
}
.srchdiv input {
  height: 52px;
  padding: 0 10px 0 10px;
}
.srchdiv .search {
  width: 383px;
  text-align: left;
  letter-spacing: 10px;
  }
label.d-flex.justify-content-center {
  width: 567px;
}
.srchdiv .submit-button {
  width: 132.05px;
}
.footer {
  padding: 50px 0 50px 0;
  background-color: #181818;
}
.footer-container {
  padding-top: 20px;
  padding-left: 15px;
}
.footer-logo {
  padding: 0 50px 0 0;
}
.contacts {
  padding: 0 50px 0 105px;
  }
.contacts span {
  padding: auto;
  font-family: "Source Code Pro", monospace;
  line-height: 20px;
  font-size: 11px;
  }
.nav-footer {
  padding: 0 46px 0 0;
  }
.nav-footer a {
  padding: 0 43px 0 43px;
  width: 160px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
}
.copyright {
  padding: 80px 70px 0 0;
  }
.copyright p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  }

  


@media only screen and (max-width: 899px) {
  
  * {
    /* font-size: 0.25vw; */
  }
  
  body {
    max-width: 390px;
  }
  .br-sp {
    display: block;
}
  nav.nav.side-nav {
    display: none;
  }
  .key img {
    width: 340px;
  }
  .diamond {
    padding-top: 40px;
  }
  .wrap-text {
    width: 195px;
    padding: 117px 0px 27px 0px;
    text-align: center;
  }
  .wrap-text2 h2 {
    font-size: 15px;
  }
  .wrap-text3 {
    width: 312px;
    margin: auto;
  }
  .wrap-text3 h2 {
    font-size: 34px;
    line-height: normal;
  }
  .key-mobile {
    display: block;
  }
  .hr-lines {
    display: none;
  }
  .top-text {
    display: none;
  }
  .title span {
    font-size: 18px;
  }
  .desktop-footer {
    display: none !important;
  }
  .d-flex.footer-mobile {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  .banner {
    display: none;
  }
  .diamond {
    display: none !important;
  }
  .diamond-mobile {
    padding-top: 58px;
  }
  .mobile-banner {
    display: block;
    background-image: url("../images/mobile-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90px;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 1px;
  }
  .wrap-text {
    width: 320px;
    padding: 245px 0px 120px 0px;
  }

  .title span {
    font-size: 35px;
  }

  .wrap-text2 h2 {
    font-size: 30px;
  }
  .key img {
    padding-bottom: 20px;
  }

  .wrap-text3 {
    padding: 110px 0px 58px 0vw;
  }
  .wrap-text3 h2 {
    letter-spacing: 3.5px;
  }

  .wrap-text4 {
    width: 300px;
    margin: auto;
    padding-bottom: 66px;
  }
  .wrap-text4 h2 {
    font-size: 20px;
    letter-spacing: 4px;
  }

  .srchdiv {
    padding: 0px 0px 300px 0px;
  }

  .footer {
    padding: 50px 0px 10px 0px;
  }
  p.text-white {
    font-size: 10px;
    margin-bottom: 0vw;
  }

  .mobile-footer {
    padding-top: 18px;
  }

  a.nav-link.text-white.mobile-footer-nav {
    padding: 40px 0px 0px 0px;
  }

  .mobile-copyright {
    padding-top: 46px;
  }
  .navbar-nav li a {
    padding: 0 70px 0 0;
    width: 50px;
    font-size: 12px;
  }
  .srchdiv .search {
    width: 200px;
    text-align: left;
    letter-spacing: 10px;
    }
}



/* @media only screen and (max-width: 600px) {
  .banner{
    background-image: url('../images/banner.jpg');
    background-size:     cover;             
    background-repeat:   no-repeat;
    background-position: center center;
    height:130px; 
  }

  .content .d-flex {
    align-items: center;
  }
  .diamond {
    width: 9.90vw; 
    height: 9.90vw;
    transform: rotate(45deg);
    margin: 0 auto;
    position: relative;
    top: 6.31vw; 
    
    z-index: 999;
  }

} */
